<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container text-center">
    <div class="row">
      <div class="col-lg-2">
       
      </div>
      <div class="col-lg-8 my-3">
        <h1 class=" text-center">Agenda</h1>
        <p class="text-center lead">seus contactos estão a baixo</p>
        <%- include('includes/messages') %>
        <div class="responsive-table">
            <table class="table table-light my-3">
                <tbody>
                    <tr>
                       <td>Leusio</td>
                       <td>Jose</td>
                       <td>+258856624229</td>
                       <td>leusioj@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Leusio</td>
                        <td>Jose</td>
                        <td>+258856624229</td>
                        <td>leusioj@gmail.com</td>
                     </tr>
                     <tr>
                        <td>Leusio</td>
                        <td>Jose</td>
                        <td>+258856624229</td>
                        <td>leusioj@gmail.com</td>
                     </tr>
                </tbody>
            </table>
        </div>
      </div>
      <div class="col-lg-2">

       
      </div>
    </div>
  </div>
    
   
<%- include('includes/footer'); %>