<%- include('includes/head') %>

  <section class="container">
    <h1>

     <%=  titulo %>
      <% numeros.map((numero) => {%>
        <% if (numero< 6) {%>
          <h1><%= numero %></h1> 
          <% } %> 
    <% }) %> 

    </h1>
  </section>

  <%- include('includes/footer')  %> 